/**
 * Site header
 */
.header {
    //border-top: 5px solid $grey-color-dark;
    //border-bottom: 1px solid $grey-color-light;
    //min-height: 56px;

    // Positioning context for the mobile navigation icon
    //position: relative;

    position: fixed;
    top:0;
    width: 100%; 
    height: 5rem;
    overflow: hidden;
    z-index: 1;
		
	@include media-query($on-laptop) {
		width: $on-laptop;
	}
}
.header .logo{
    float: left;
    margin: 1.2rem 0 0 0;
    padding: 0;
    width: 150px;
    height: 40px;
    background: url(/assets/images/logo.png) no-repeat;
    background-size: 100%; 
    text-indent: -9999px;
}

.menu{
    float: right;
    margin: 1.2rem 0 0 0;
    padding: 0; 
    font-size: 1.2rem;
}


.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}


.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
	position: relative;
}
.site-footer .copyright{
	padding: $spacing-unit 0;
	font-size: $base-font-size - 0.2;
	line-height: $base-line-height - 1;
	color: #c5c5c5;
	text-align:center;
}




/**
 * Page content
 */
.content {
	position: relative;
	padding-top: 5rem;
}   

.page-heading {
    display: none;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link a{
    padding-bottom: 3px;
	border-bottom: 1px dotted $grey-color;
}
.post-link a:hover{
	border-bottom: 1px solid $brand-color;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post {
	padding-top: $spacing-unit * 4;
	padding-bottom: $spacing-unit * 4;
	border-bottom: 1px dashed #ccc;
}
.post:last-child{
	border: none;
}
.post-title {
	margin: 0;
	font-size: 3.5rem;
	line-height: 4rem;
	font-weight: 100;
	color: #404040;
}
.post-meta{
	font-size: 1.2rem;
	font-style: italic;
	color: #bbbbbb; 
}
.post-description{
	color:#9a9a9a;
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}


.post .post-section {
    margin-bottom: $spacing-unit*10;
    a:link, a:visited{
        color: $brand-color;
    }
    a:hover{
        text-decoration: underline;
    }
    h2{
        position: relative;
        margin-top: $spacing-unit * 10;
        color: #000;
        font-size: 2.5rem;
        font-weight: 200;
        &:before{
            position: absolute;
            top: -1.5rem;
            left: 0;
            width: 5rem;
            height: 0.1rem;
            background: $brand-color;
            content: "";
        }
    }
    h3{
        position: relative;
        color: #000;
        font-size: 2rem;
        font-weight: 100;
    }
    strong{
        background: $brand-color-light;
        font-weight: normal;
        color: $brand-color-dark;
    }
    em{
        font-size: 0.8em;
        color: #A2A2A2;
        font-style: normal;
    }
    /* 주석 */
    .footnotes{
        margin-top: $spacing-unit * 10;
        font-size: 1.2rem;
        ol{
            margin: 0;
            padding-left: $spacing-unit * 2;
            :link, :visited{
                color: $brand-color;
            }
        }
    }
    .footnote{
        margin: 0 2px;
        padding: 2px 5px;
        border: 1px solid #eee;
        font-size: 1.2rem;
        line-height: 0;
        text-align: center;
        &:link, &:visited{
            color: $grey-color;
            text-decoration: none;
        }
        &:hover{
            color: $brand-color;
        }
    }
    .reversefootnote{
        &:link, &:visited{
            color: $grey-color;
            text-decoration: none;
        }
        &:hover{
            color: $brand-color;
        }
    }
}
/*style*/
/*post contents style - images*/
.post .post-section .image{}
.post .post-section .image img{
    max-width: 100%;
}
/*post contents style - link*/


/*post contents style - table*/
.post .post-section table{
    width: 100%;
    border-top: 1px solid #D2CDBA;
    border-collapse: collapse;
    color: #888;
    font-size: 1.2rem;
    line-height: 1.5em;
}
.post .post-section table caption{
    padding: 1rem 0;
    text-align: left;
    font-weight: 700;
}
.post .post-section table thead th{
    border-bottom: 1px solid #D2CDBA;
}
.post .post-section table th, .post .post-section table td{
    padding: 0.5em;
    border-bottom: 1px solid #eee;
} 
.post .post-section table th{
    background: $brand-color-lighter;
}
.post .post-section table td{
    border-right: 1px solid #eee;
    text-align: center;
}
.post .post-section table td:last-child{
    border-right: none;
}
.post .post-section table td.border-dark{
    border-bottom: 1px solid #D6D6D6;
}
.post .post-section table td.cell-em{
    background: #FAFAFA;
}
/*post contents style - code*/
.post .highlight{
    margin: 0;
    padding: 2rem;
    border: 1px solid #eee;
}
.post .highlight pre{
    margin: 0;
    padding: 0;
}

/*post contents style - col*/
.post .col-item img{
        width: 100%
    }

/*post contents style - quote*/
.post .quote{
    
}

.col2{
	margin-top : $spacing-unit * 4;
	margin-bottom: $spacing-unit * 4;
}
.col2:after{
	@include media-query($on-palm) {
		display: block; clear: both; content: "";	
	}
}
.col2 .col-item{
	margin-bottom: $spacing-unit * 4;
	@include media-query($on-palm) {
		float: left;
		width: 49%;
		margin: 0 1%;
		
	}	
}
.col2 .col-item:first-child{
	@include media-query($on-palm) {
		margin-left: 0;
	}
}
.col2 .col-item:last-child{
	@include media-query($on-palm) {
		margin-right: 0; 
	}
}


hr{
    border:none;
    border-top: 1px dashed #eee;
}

.reference{
    &:before{
    	display: none;
    }
}
.reference-list{
	margin: 0;
	padding: $spacing-unit;
	padding-left: $spacing-unit * 2;
	// border: 1px solid #eee;
	border-top: 1px solid #ccc;
	// border-radius: 5px;
}


